In [1]:
x=12
y=17
a=x*y
print(a)

204

In [2]:
x=12
y=28
c=x/y
print(c)

0.42857142857142855

In [3]:
x=14
y=28.5
b=x/y
print(b)

0.49122807017543857

In [4]:
x=16
y=9
b=x/y
print(b)

1.7777777777777777

In [5]:
print(int(b))

1

In [6]:
x=19
y=88
c=x-y
print(c)

-69

In [7]:
x=19
y=95
c=x%y
print(c)

19

In [8]:
x=81
y=9
c=x % y
print(c)

0

In [9]:
x=95
y=19
c=x % y
print(c)

0

In [10]:
x=18
y=90
n=x//y
print(n)

0

In [11]:
x=17
y=90
b=x // y
print(b)

0

In [12]:
x=90
y=17
b=x // y
print(b)

5

In [13]:
x=90
y=17
m=x / y
print(m)

5.294117647058823

In [14]:
print(int(m))

5

In [15]:
x=10.99
y=19
z=x-y
print(z)

-8.01

In [17]:
print(int(z))

-8

In [18]:
x=19
y=6
l=x // y
print(l)

3

In [19]:
print(float(l))

3.0

In [20]:
x=2
y=8
a=x ** y
print(a)

256

In [21]:
print(str(a))

256

In [24]:
a="name"
b="chinnu"
z=a-y
print(int(z))

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [25]:
print(str(z))

-8.01

In [26]:
a="yugendar"
b="ganesh"
v=a + b
print(v)

yugendarganesh

In [27]:
print(int(v))

ValueError: invalid literal for int() with base 10: 'yugendarganesh'

In [28]:
print(str(v))

yugendarganesh

In [29]:
a="Ganesh"
b="Yugendar"
v=a + b
print(v)

GaneshYugendar

In [30]:
v=a * b
print(v)

TypeError: can't multiply sequence by non-int of type 'str'

In [31]:
print(str(v))

GaneshYugendar

In [32]:
v=x - y
print(v)

-6

In [33]:
a="Ganesh"
b="Yugendar"
c=x - y
print(c)

-6

In [36]:
c="Ganesh"
d="Yugendar"
e=c - d
print(str(e))

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [35]:
print(str(e))

NameError: name 'e' is not defined

In [37]:
a="name"
b="chinnu"
z=a * y
print(z)

namenamenamenamenamenamenamename

In [38]:
z=y*x
print(z)

16

In [39]:
a="name"
b="chinnu"
o=y * x
print(o)

16

In [3]:
q="chinnu"
w="Ganesh"
a=q * w
print(str(a))

TypeError: can't multiply sequence by non-int of type 'str'

In [4]:
q="chinnu"
w="Ganesh"
z=q / w
print(z)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [5]:
print(str(z))

NameError: name 'z' is not defined

In [6]:
print(z)

NameError: name 'z' is not defined

In [7]:
q="chinnu"
w="Ganesh"
y=q / w
print(y)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [8]:
print(str(y))

NameError: name 'y' is not defined

In [9]:
w="chinnu"
e="Ganesh"
r=w / e
print(str(e))

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [10]:
a="chinnu"
b="okay"
d=a // b
print(d)

TypeError: unsupported operand type(s) for //: 'str' and 'str'

In [12]:
a=[1,2,3,5,5]
b=[12,22,31,45,66]
z=a * b
print(type(z))

TypeError: can't multiply sequence by non-int of type 'list'

In [13]:
print(z)

NameError: name 'z' is not defined

In [14]:
z=a  + b
print(z)

[1, 2, 3, 5, 5, 12, 22, 31, 45, 66]

In [15]:
z=a * b
print(z)

TypeError: can't multiply sequence by non-int of type 'list'

In [16]:
z= a / b
print(z)

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [17]:
z=a ** b
print(z)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'list'

In [18]:
z=a<b
print(z)

True

In [19]:
z=a>b
print(z)

False

In [20]:
z=a<=b
print(a)

[1, 2, 3, 5, 5]

In [21]:
z=a>=b
print(z)

False

In [22]:
z= a>=b
print(z)

False

In [23]:
z= a<=b
print(z)

True

In [24]:
z= a==b
print(z)

False

In [25]:
z= a != b
print(z)

True

In [26]:
z=a + b
print(z)

[1, 2, 3, 5, 5, 12, 22, 31, 45, 66]

In [27]:
z= a * b
print(z)

TypeError: can't multiply sequence by non-int of type 'list'

In [28]:
a=(1,22,12,31,44)
b=(18,10,15,77,34)
c=a + b
print(c)

(1, 22, 12, 31, 44, 18, 10, 15, 77, 34)

In [29]:
c = a * b
print(c)

TypeError: can't multiply sequence by non-int of type 'tuple'

In [30]:
c= a * b
print(tuple(c))

TypeError: can't multiply sequence by non-int of type 'tuple'

In [31]:
c= a / b
print(c)

TypeError: unsupported operand type(s) for /: 'tuple' and 'tuple'

In [32]:
c= a // b
print(c)

TypeError: unsupported operand type(s) for //: 'tuple' and 'tuple'

In [33]:
c=a < b 
print(c)

True

In [34]:
c =a > b
print(c)

False

In [35]:
c = a<=b
print(c)

True

In [36]:
c = a>=b
print(c)

False

In [37]:
c = a==b
print(c)

False

In [38]:
c= a !=b
print(c)

True

In [43]:
a={12,32,43,55,23}
b={19,21,32,43,44}
c= a + b
print(str(c))

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [44]:
c= a * b
print(c)

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [45]:
a= {"name","nam","on"}
b= {"nama","om","os"}
c= a + b
print(c)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [46]:
c= a * b
print(c)

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [47]:
c=a < b

In [48]:
c= a < b
print(c)

False

In [49]:
print(a)
print(a)

{'nam', 'name', 'on'}
{'nam', 'name', 'on'}

In [50]:
c = a < b
print(c)

False

In [51]:
c = a > b
print(c)

False

In [52]:
c = a <= b
print(c)

False

In [53]:
c = a>=b
print(c)

False

In [54]:
c= a==b
print (c)

False

In [55]:
c= a !=b
print(c)

True

In [56]:
a=[1.2,2,3.8,4]
b=[33,4.5,66,9]
x=a + b
print(x)

[1.2, 2, 3.8, 4, 33, 4.5, 66, 9]

In [57]:
x= a * b
print(x)

TypeError: can't multiply sequence by non-int of type 'list'

In [58]:
x= a / b
print(x)

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [59]:
x=2.7
b=199
a=x + b
print(a)

201.7

In [60]:
a = x * b
print(a)

537.3000000000001

In [61]:
print(int(a))

537

In [62]:
a = x / b
print(a)

0.0135678391959799

In [63]:
print(str(a))

0.0135678391959799

In [64]:
print(float(a))

0.0135678391959799

In [65]:
a=x // b
print(a)

0.0

In [66]:
a= x % b
print(a)

2.7

In [67]:
print(int(a))

2

In [68]:
a = x ^ b
print(a)

TypeError: unsupported operand type(s) for ^: 'float' and 'int'

In [69]:
a= int(x) ^ b
print(a)

197

In [70]:
a= x * float(b)
print(a)

537.3000000000001

In [71]:
a= x // float(b)
print(a)

0.0

In [72]:
print(a)

0.0

In [73]:
x

2.7

In [74]:
b

199

In [75]:
a=b//x
print(a)

73.0

In [76]:
x=29.89
y=82.82
a=x // y
print(a)

0.0

In [77]:
a= x/y
print(a)

0.36090316348708046

In [78]:
a=y/x
print(a)

2.7708263633322177

In [79]:
a=y//x
print(a)

2.0

In [83]:
a='str',(12,32,42,43,41)
b='str',(19,28,11,32,77)
x=a + b
print(x)

('str', (12, 32, 42, 43, 41), 'str', (19, 28, 11, 32, 77))

In [89]:
x=a + b
print(tuple(x))

('str', (12, 32, 42, 43, 41), 'str', (19, 28, 11, 32, 77))

In [90]:
x=a/b
print(x)

TypeError: unsupported operand type(s) for /: 'tuple' and 'tuple'

In [93]:
a="str",(12,23,43,42)
b="str"(12,32,33,43)
x=a/b
print(tuple(x))

TypeError: unsupported operand type(s) for /: 'tuple' and 'tuple'

In [94]:
x=a<b

TypeError: '<' not supported between instances of 'str' and 'int'

In [95]:
x=a<b
print(x)

TypeError: '<' not supported between instances of 'str' and 'int'

In [96]:
a="str",(12,43,44,53)
b="str",(11,32,44,33)
x= a + b
print(x)

('str', (12, 43, 44, 53), 'str', (11, 32, 44, 33))

In [97]:
x=a<b
print(x)

False

In [98]:
x=a<=b
print(x)

False

In [99]:
x=a>b
print(x)

True

In [100]:
x=a>=b
print(x)

True

In [101]:
x=a==b
print(x)

False

In [102]:
x=a != b
print(x)

True

In [103]:
a="str",[12,37,36,72]
b="str",[62,25,99,2]
x=a + b
print(x)

('str', [12, 37, 36, 72], 'str', [62, 25, 99, 2])

In [104]:
x=a - b
print(x)

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [108]:
a=('int', (12,33,3,88))
b=('int' ,(23,38,82,1))
x=a + b
print(x)

('int', (12, 33, 3, 88), 'int', (23, 38, 82, 1))

In [109]:
x=a - b
print(x)

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [110]:
a=12,43,4,93
b="taji","raju","huhi"
x=a + b
print(x)

(12, 43, 4, 93, 'taji', 'raju', 'huhi')

In [113]:
x= (int(a)*b)
print(x)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'tuple'

In [114]:
x= a<b
print(x)

TypeError: '<' not supported between instances of 'int' and 'str'

In [120]:
x='int',(a)%b
print(x)

TypeError: unsupported operand type(s) for %: 'tuple' and 'tuple'